:root {
    --ana-renk: #AC58F5;
    --ikin-el: #0F172A;
    --ucuncu: #222C42;
    --dortuncu: #F8FBFE;
    --gray: #666;
}

* {
    font-family: "Radio Canada Big", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;

}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

header {
    height: 62px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--ikin-el) !important;
    margin-bottom: 20px;
    /* Navbar altındaki boşluğu azalt */
}

header .container .navbar {
    background-color: var(--ikin-el) !important;
    z-index: 10;
}

header .container .navbar .container-fluid>a {
    font-size: 24px;
    font-weight: 700;
    color: var(--dortuncu);
    display: flex;
}

header .container .navbar .container-fluid button span {
    color: var(--dortuncu);
}

header .container .navbar .container-fluid .collapse {
    flex-grow: 0;
    z-index: 10;
}

header .container .navbar .container-fluid .collapse div a {
    color: var(--dortuncu);
}

header .container .navbar .container-fluid .collapse div a.active {
    color: var(--ana-renk);
}

header .container .navbar .container-fluid .collapse div a:hover {
    color: var(--ana-renk);
}

/* Header */

/* Footer */

footer {
    background-color: var(--ikin-el);
}

footer .container>div {
    margin-top: 25px;

}

footer .container div h2 {
    padding-top: 15px;
}

footer .container div h2 a {
    font-size: 24px;
    font-weight: 700;
    color: var(--dortuncu);

}

footer .container div div {
    margin: 25px 0;
}

footer .container div div a {
    font-size: 28px;
    color: var(--ana-renk);
}

footer .container div div a:not(:last-child) {
    margin-right: 35px;
}

footer .container div div a.facebook:hover {
    color: #1877f2;
}

footer .container div div a.instagram:hover {
    color: #f77737;
}

footer .container div div a.github:hover {
    color: #333;
}

footer .container p {
    color: var(--dortuncu);
    margin: 0;
    padding: 0 0 10px;

}

/* Footer */

.contact {
    padding: 50px 0;
}

.contact h1 {
    text-align: center;
    color: var(--ikin-el);
    margin-bottom: 40px;
}

.contact .form-label {
    color: var(--ucuncu);
    font-weight: bold;
}

.contact .form-control {
    border-radius: 5px;
    border: 1px solid var(--gray);
}

.contact .form-check-label {
    color: var(--ucuncu);
}

.contact .btn-primary {
    background-color: var(--ana-renk);
    border: none;
}

.contact .btn-secondary {
    background-color: var(--gray);
    border: none;
}

.contact .btn-primary:hover,
.contact .btn-secondary:hover {
    opacity: 0.8;
}

.container .iletişim-bilgileri {
    padding-top: 70px;
    padding-bottom: 30px;
}