:root {
    --ana-renk: #AC58F5;
    --ikin-el: #0F172A;
    --dortuncu: #F8FBFE;
    --gray: #666;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

header {
    height: 62px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--ikin-el) !important;
    margin-bottom: 10px;
    /* Navbar altındaki boşluğu azalt */
}

header .container .navbar {
    background-color: var(--ikin-el) !important;
}

header .container .navbar .container-fluid>a {
    font-size: 24px;
    font-weight: 700;
    color: var(--dortuncu);
    display: flex;
}

header .container .navbar .container-fluid button span {
    color: var(--dortuncu);
}

header .container .navbar .container-fluid .collapse {
    flex-grow: 0;
    text-align: center;
}

header .container .navbar .container-fluid .collapse div a {
    padding: 8px 15px;
    font-size: 18px;
    background-attachment: fixed;
    color: var(--dortuncu);
}

header .container .navbar .container-fluid .collapse div a.active {
    color: var(--ana-renk);
}

header .container .navbar .container-fluid .collapse div a:hover {
    color: var(--ana-renk);
}

footer {
    background-color: var(--ikin-el);
}

footer .container>div {
    margin-top: 25px;
}

footer .container div h2 {
    padding-top: 15px;
}

footer .container div h2 a {
    font-size: 24px;
    font-weight: 700;
    color: var(--dortuncu);
}

footer .container div div {
    margin: 25px 0;
}

footer .container div div a {
    font-size: 28px;
    color: var(--ana-renk);
}

footer .container div div a:not(:last-child) {
    margin-right: 35px;
}

footer .container div div a.facebook:hover {
    color: #1877f2;
}

footer .container div div a.instagram:hover {
    color: #f77737;
}

footer .container div div a.github:hover {
    color: #333;
}

footer .container p {
    color: var(--dortuncu);
    margin: 0;
    padding: 0 0 10px;
}

.intro-text {
    background: linear-gradient(45deg, #AC58F5, #0F172A);
    /* Renk karışımı arka plan */
    padding: 30px 20px;
    /* Boşluğu azaltmak için padding ayarlandı */
    color: var(--dortuncu);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.intro-text h1 {
    color: var(--dortuncu);
    font-size: 36px;
    margin-bottom: 10px;
    /* Boşluğu azaltmak için margin ayarlandı */
}

.intro-text p {
    color: var(--dortuncu);
    font-size: 18px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: var(--dortuncu);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.5s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    /* Tüm resimler için sabit yükseklik */
    object-fit: cover;
    /* Resmin alanı tamamen kaplamasını sağlar, bozulmadan */
    transition: transform 0.3s ease;
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.card-body p {
    color: var(--gray);
    margin-bottom: auto;
}

.card-body h4 {
    color: var(--ikin-el);
    margin-top: 15px;
}

.btn-primary {
    background-color: var(--ana-renk);
    border: none;
    color: var(--dortuncu);
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #8f46c4;
    color: var(--dortuncu);
}