:root {
    --ana-renk: #AC58F5;
    --ikin-el: #0F172A;
    --dortuncu: #F8FBFE;
    --gray: #666;
}

* {
    font-family: "Radio Canada Big", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

header {
    height: 62px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--ikin-el) !important;
    margin-bottom: 20px;
    /* Navbar altındaki boşluğu azalt */
}

header .container .navbar {
    background-color: var(--ikin-el) !important;
    z-index: 10;
}

header .container .navbar .container-fluid>a {
    font-size: 24px;
    font-weight: 700;
    color: var(--dortuncu);
    display: flex;
}

header .container .navbar .container-fluid button span {
    color: var(--dortuncu);
}

header .container .navbar .container-fluid .collapse {
    flex-grow: 0;
    z-index: 10;
}

header .container .navbar .container-fluid .collapse div a {
    color: var(--dortuncu);
}

header .container .navbar .container-fluid .collapse div a.active {
    color: var(--ana-renk);
}

header .container .navbar .container-fluid .collapse div a:hover {
    color: var(--ana-renk);
}

/* Header */

footer {
    background-color: var(--ikin-el);
}

footer .container>div {
    margin-top: 25px;
}

footer .container div h2 {
    padding-top: 15px;
}

footer .container div h2 a {
    font-size: 24px;
    font-weight: 700;
    color: var(--dortuncu);
}

footer .container div div {
    margin: 25px 0;
}

footer .container div div a {
    font-size: 28px;
    color: var(--ana-renk);
}

footer .container div div a:not(:last-child) {
    margin-right: 35px;
}

footer .container div div a.facebook:hover {
    color: #1877f2;
}

footer .container div div a.instagram:hover {
    color: #f77737;
}

footer .container div div a.github:hover {
    color: #333;
}

footer .container p {
    color: var(--dortuncu);
    margin: 0;
    padding: 0 0 10px;
}

/* .halep-intro {
    background: linear-gradient(45deg, #AC58F5, #0F172A);
    padding: 30px 20px;
    color: var(--dortuncu);
    text-align: left;
    border-radius: 10px;
    margin-bottom: 20px;
} */

.halep-intro h1 {
    color: var(--dortuncu);
    font-size: 36px;
    margin-bottom: 10px;
    /* Boşluğu azaltmak için margin ayarlandı */
}

.halep-intro p {
    color: var(--ikin-el);
    font-size: 15px;
    margin-bottom: 50px;
    /* Paragraflar arasındaki boşluk */
}

.container .mySlides img,
.container .row .column img {
    width: 100%
}

.container .mySlides img {
    height: 550px
}

.container .row .column img {
    height: 100px
}

@media (max-width: 767px) {
    .container .mySlides img {
        height: 300px
    }

    .container .row .column img {
        height: 40px
    }
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 10px;
    ;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: var(--ikin-el);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: var(--ikin-el);
    padding: 2px 16px;
    color: var(--dortuncu);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/* .halep-sehri {
    background: linear-gradient(45deg, #AC58F5, #98b0e9);
}

.halep-kalesi {
    background: linear-gradient(45deg, #AC58F5, #98b0e9);
}

.halep-ulu-camii {
    background: linear-gradient(45deg, #AC58F5, #98b0e9);
} */

.halep-intro p {
    background: linear-gradient(45deg, #AC58F5, #0F172A);
    padding: 30px 20px;
    color: var(--dortuncu);
    text-align: left;
    border-radius: 10px;
    margin-bottom: 20px;
    line-height: 1.8;

    transition: transform 0.3s ease;
}

.halep-intro p:hover {
    transform: scale(1.05);
}

.halep-intro p strong {
    font-size: 19px;

}