<!DOCTYPE html>
<html lang="tr" ng-app="loginApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
</head>

<body ng-controller="loginController">
    <div class="container">
        <div class="login-container">
            <h1 class="title">ABO HASHEM'e Hoş Geldiniz!</h1>
            <form class="login-form" action="php/login.php" method="post" ng-submit="submitForm()" novalidate>
                <div class="form-group">
                    <label for="email" class="label">E-posta Adresi</label>
                    <input type="email" id="email" name="email" class="input" placeholder="E-posta adresinizi girin"
                        ng-model="formData.email" required>
                    <div ng-show="loginForm.email.$error.required && loginForm.email.$dirty" class="error">E-posta
                        adresi zorunludur.</div>
                </div>
                <div class="form-group">
                    <label for="password" class="label">Şifre</label>
                    <input type="password" id="password" name="password" class="input" placeholder="Şifrenizi girin"
                        ng-model="formData.password" required>
                    <div ng-show="loginForm.password.$error.required && loginForm.password.$dirty" class="error">Şifre
                        zorunludur.</div>
                </div>
                <button type="submit" class="button" ng-disabled="loginForm.$invalid">Giriş Yap</button>
            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        var app = angular.module('loginApp', []);
        app.controller('loginController', function ($scope, $http) {
            $scope.formData = {};

            $scope.submitForm = function () {
                // Form geçerli mi kontrol et
                if ($scope.loginForm.$valid) {
                    // Eğer geçerli ise, sunucuya isteği gönder
                    $http.post('php/login.php', $scope.formData)
                        .then(function (response) {
                            // Sunucudan gelen yanıtı işle
                            console.log(response.data);
                        })
                        .catch(function (error) {
                            // Hata durumunda işle
                            console.error('Hata:', error);
                        });
                } else {
                    // Eğer form geçerli değilse, kullanıcıya bir hata mesajı göster
                    console.log('Form geçerli değil');
                }
            };

        });
    </script>
</body>

</html>